.main
    margin: auto
.file-class
    width: 50%
    margin-right: 5px
    margin-left: 5px

.div-main1
    margin-left: 10px
    height: 50%
    width: 50%
    position: absolute
.div-main2
    margin-left: 10px
    height: calc(calc(100%-18px) - 50%)
    width: 50%
    position: absolute
    right: 0
.div-main3
    margin-left: 10px
    height: 50%
    width: 50%
    position: absolute
    bottom: 0
.div-main4
    margin-left: 10px
    height: 50%
    width: 50%
    position: absolute
    bottom: 0
    right: 0
.clear-class
    margin-left: 10px
.form-main
    margin-top: 5px
.img-class
    border:3px
    margin-top: 30px
.img-div-class
    text-align: center
.input-k-class
    margin-left: 222px
    width: 10%
.btn-retrain-class
    margin-left: 28px
.div-k-img-main
    margin-top:10px