<div class='main'>
  <div class='div-main1'>
      <form [formGroup]="form" class="form-inline form-main" (ngSubmit)="onSubmit()">
          <!-- <div>
            <label>Name</label>
            <input type="text" id='name' placeholder="name" formControlName="name" name="name">
          </div> -->
          <div class="form-group">
            <label for="em">Predict Image: </label>
            <input type="file" id="Image" class="form-control-file border file-class" (change)="onFileChange($event)" name="em" #fileInput>
            <br>
            <button type="button" class="btn btn-secondary clear-class" (click)="clearFile()">clear file</button>
          </div>
          <button type="submit" class="btn btn-primary btn-submit-class" [disabled]="form.invalid || loading">Submit </button>
        </form>
        <div class='div-k-img-main'>
          <div class="form-inline">
              <label for="k_val">K value: </label>
              <input type="number" class='form-control input-k-class' [(ngModel)]='k' id="k_val" min=1 name="em">
              <button type="button" class='btn btn-info btn-retrain-class' (click)='retrain()'>Retrain</button>
          </div>
          <!-- <div class='img-div-class'>
            <img [src]="(url) ? url : '../../assets/no_image.png'" alt="No Image choosen" class="rounded-circle mr-3 img-class" height='100' width='100'> <br/>
            <label>{{(form.get('Image').value.filename != null) ? form.get('Image').value.filename : '' }}</label>
          </div>   -->
        </div>
  </div>
  <div class='div-main2'>
  pi chart
  <img [src]="(url) ? url : '../../assets/no_image.png'" alt="No Image choosen" class="rounded-circle mr-3 img-class" height='100' width='100'>
  <label>{{imageName }}</label>
  </div>
  <br>
  <div class='div-main3'>
    top n rows of train data
    <table class='table-bordered'>
      <thead>
          <tr>
            <ng-container *ngFor='let item of NRespKeys;let i=index'>
              <th>
                <input type="text" class='form-control' [(ngModel)]='dicKToName[item]' [id]="item" [name]="i">
                <button type="button" *ngIf='(item == (NRespKeys.length-1))' class='btn btn-info' (click)='save()'>save</button>
              </th>
            </ng-container>
          </tr>
      </thead>
      <tbody>
        <td *ngFor='let item of NRespKeys;let i=index'>
          <tr *ngFor='let items of topNList[item];let i=index'>
              <td (click)='bindPredictionData(items)'>
                  <img [src]="items['browserUrl']" class="rounded-circle mr-3 img-class" height='100' width='100'>
              </td>
          </tr>
        </td>
      </tbody>
    </table>
  </div>
  <div class='div-main4'>
    log likelyhood
    <div [chart]="logLikelyChart"></div>
  </div>
</div>